@use "lkt-fields-config";
@use "mixins/mixins";

@mixin generate() {
  [data-lkt="field-editor"] {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    font-size: lkt-fields-config.$font-size;
    color: lkt-fields-config.$font-color-label;

    .sun-editor {
      width: 100% !important;
      border: lkt-fields-config.$border-width lkt-fields-config.$border-style lkt-fields-config.$border-color;
      box-shadow: lkt-fields-config.$box-shadow;
      background-color: lkt-fields-config.$background-color;
      color: lkt-fields-config.$font-color;

      .se-toolbar {
        z-index: 2;

        &.se-toolbar-sticky {
          position: static !important;
        }
      }

      .se-wrapper {
        .se-wrapper-inner {
          min-height: lkt-fields-config.get-height-eight();
        }
      }

      + label {
        @include mixins.getLabelStyles();
      }
    }
  }
}


