@use "node_modules/lkt-theme/lkt-theme";

$border-width: 1px !default;
$border-style: solid !default;
$border-color: #ddd !default;
$border-color-disabled: #ccc !default;
$border-radius: 4.5px !default;
$background-color: #fff !default;
$background-color-disabled: #eee !default;
$font-color: #32373c !default;
$font-color-label: #444444 !default;
$font-size: 14px !default;
$font-size-label: 13px !default;
$focus-color: red !default;
$hover-color: purple !default;
$input-height: 35px !default;
$gap: 15px !default;
$box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07) !default;
$padding-input: 5px 10px !default;;
$transition: lkt-theme.$primary-transition !default;

@mixin configure($opts: ()) {
  @if map-get($opts, focus-color) {
    $focus-color: map-get($opts, focus-color) !global;
  }
  @if map-get($opts, hover-color) {
    $hover-color: map-get($opts, hover-color) !global;
  }
  @if map-get($opts, input-height) {
    $input-height: map-get($opts, input-height) !global;
  }
  @if map-get($opts, gap) {
    $gap: map-get($opts, gap) !global;
  }
  @if map-get($opts, box-shadow) {
    $box-shadow: map-get($opts, box-shadow) !global;
  }
  @if map-get($opts, border-width) {
    $border-width: map-get($opts, border-width) !global;
  }
  @if map-get($opts, border-style) {
    $border-style: map-get($opts, border-style) !global;
  }
  @if map-get($opts, border-color) {
    $border-color: map-get($opts, border-color) !global;
  }
  @if map-get($opts, background-color) {
    $background-color: map-get($opts, background-color) !global;
  }
  @if map-get($opts, font-color) {
    $font-color: map-get($opts, font-color) !global;
  }
  @if map-get($opts, font-color-label) {
    $font-color-label: map-get($opts, font-color-label) !global;
  }
  @if map-get($opts, font-size) {
    $font-size: map-get($opts, font-size) !global;
  }
  @if map-get($opts, font-size-label) {
    $font-size-label: map-get($opts, font-size-label) !global;
  }
  @if map-get($opts, border-color-disabled) {
    $border-color-disabled: map-get($opts, border-color-disabled) !global;
  }
  @if map-get($opts, background-color-disabled) {
    $background-color-disabled: map-get($opts, background-color-disabled) !global;
  }
  @if map-get($opts, transition) {
    $transition: map-get($opts, transition) !global;
  }
  @if map-get($opts, padding-input) {
    $padding-input: map-get($opts, padding-input) !global;
  }
  @if map-get($opts, border-radius) {
    $border-radius: map-get($opts, border-radius) !global;
  }
}

@function get-height-one() {
  @return $input-height;
}

@function get-height-two() {
  @return ($input-height * 2) + $gap;
}

@function get-height-four() {
  @return (get-height-two() * 2) + $gap;
}

@function get-height-eight() {
  @return (get-height-four() * 2) + $gap;
}