@use "lkt-fields-config";
@use "mixins/mixins";
@use "node_modules/lkt-theme/lkt-theme";

@mixin __generateColor($color, $contrast) {
  &.is-date {
    input {
      @include mixins.generate-color-style($color, $contrast);
    }

    &:hover {
      input {
        @include mixins.generate-color-style-hover($color, $contrast);
      }
    }
  }
}

@mixin generate() {
  .lkt-field {
    &.is-date {
      display: flex;
      flex-direction: column-reverse;
      position: relative;
      color: lkt-fields-config.$font-color-label;

      input {
        @include mixins.getInputStyles();
        padding-left: 35px;
        padding-right: 35px;
      }

      .dp__main {
        + label {
          @include mixins.getLabelStyles();
        }
      }
    }

    $colors: lkt-theme.get-color-map();
    @each $code, $palette in $colors {
      $color: map-get($palette, color);
      $contrast: map-get($palette, contrast);

      &--#{$code} {
        @include __generateColor($color, $contrast);
      }
    }
  }
}


